html {
    /*height: 100%;*/
}
body {
    margin: 0;
   /* height: 100%;*/
}

.l-header {
    background: #222;
    height: 20vh;
}
.l-content {
    background: #333;
    height: 60vh;
}
.l-footer {
    background: #444;
    height: 20vh;
}
.sea {
    --wave-color: rgb(3, 3, 59);
}

/*RADAR*/

.radar {
    --radar-color: rgba(17, 128, 17, 0.533);
    background-color: rgb(22, 17, 17);
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid var(--radar-color);
    border-radius: 100%;
    
    background-image: 
    repeating-radial-gradient(rgba(47, 161, 32, 0) 0% 8%,#0a992e 10% 10% ),
    linear-gradient(45deg, transparent 49%, var(--radar-color) 1%, transparent 50%),
    linear-gradient(90deg, transparent 49%, var(--radar-color) 1%, transparent 50%),
    linear-gradient(135deg, transparent 49%, var(--radar-color) 1%, transparent 50%),
    linear-gradient(180deg, transparent 49%, var(--radar-color) 1%, transparent 50%);
    background-size: 200px 200px;
    background-repeat: no-repeat;

    overflow: hidden;
    
}

.signal {
position: absolute;
left: 50%;
top:50%;
width: 50%;
height: 50%;
transform: translateY(-100%);
border-bottom: 2px solid var(--radar-color);
background: linear-gradient(325deg, rgb(3, 109, 3), transparent, transparent);

animation: radarAnim 5s linear infinite;

transform-origin: left bottom;

}



@keyframes radarAnim{
    from {
        
       transform: translateY(-100%) rotate(0deg);
    }
    to {
        
        transform: translateY(-100%) rotate(360deg);
    }

}






